.services {
  background: #1B2D37;
  padding: 93px 0 100px;

  h3 {
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 51px;
    margin: -3px auto 0;
    color: #fff;
    padding-bottom: 49px;
    padding-left: 22px;
  }
}

.services__list {
  width: 99%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;

  li {
    display: contents;
    text-decoration: none;
    margin-bottom: 30px;
  }
}

.services__item {
  position: relative;
  width: 31%;
  min-height: 620px;
  max-width: 370px;
  margin-bottom: 30px;

  &::before {
    content: url('../img/Vector.svg');
    position: absolute;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    bottom: 0;
    right: 0;
    width: 63px;
    height: 63px;
    background: #00B2FF;
    color: #fff;
  }

  p {
    font-family: "Roboto Condensed";
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    padding: 52px 43px;
    margin: 0;
    color: #FFFFFF;
  }
}

.services__item--one {
  background: url("../img/1dt.png") no-repeat;
  background-size: cover;
}

.services__item--two {
  background: url("../img/2dt.png") no-repeat;
  background-size: cover;
}

.services__item--three {
  background: url("../img/3dt.png") no-repeat;
  background-size: cover;
}

@media (max-width: 1023px) {
  .services {
    padding: 50px 0 35px;
  
    h3 {
      font-size: 32px;
      line-height: 45px;
      padding: 5px 125px 49px 24px;
    }
  }

  .services__list {
    width: 95%;
    flex-direction: column;
  }

  .services__item {
    width: 100%;
    max-width: 715px;
    min-height: 256px;
    margin-bottom: 45px;

    p {
      padding: 40px 42px;
    }
  }

  .services__item--one {
    background: url("../img/1tb.png") no-repeat;
    background-position: center;
    background-size: cover;
  }

  .services__item--two {
    background: url("../img/2tb.png") no-repeat;
    background-size: cover;
  }

  .services__item--three {
    background: url("../img/3tb.png") no-repeat;
    background-size: cover;

    p {
      padding: 52px 45px;
    }
  }
}

@media (max-width: 767px) {
  .services {
    padding: 50px 0 35px;
  
    h3 {
    font-size: 28px;
    line-height: 39px;
    padding: 4px 0 41px 25px;
    }
  }

  .services__list {
    width: 91%;
  }

  .services__item {
    margin-bottom: 30px;
    margin-right: 0px;

    p {
      padding: 21px 36px;
    }
  }

  .services__item--one {
    background: url("../img/1mb.png") no-repeat;
    background-position: center;
    background-size: cover;
  }

  .services__item--two {
    background: url("../img/2mb.png") no-repeat;
    background-size: cover;
  }

  .services__item--three {
    background: url("../img/3mb.png") no-repeat;
    background-size: cover;
    
    p {
      padding: 30px 36px;
    }
  }
}